template
  style
    include index.css
  input(type='text', placeholder='User name', name='login')
  br
  input(type='password', placeholder='Password', name='pwd')

script(type='text/javascript')
  include index.js
