doctype html
html
  head
    title Web Components
    script(src='https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.22/webcomponents.min.js')
    link(rel='import' href='/components/weco-login.html')
    link(rel='import' href='/components/weco-input.html')
  body
    h1 Web Components
    h2 weco-login
    weco-login
    h2 weco-input
    weco-input
